#SiteNavbar {
    color: #363636;
    position: fixed;
    top:0;
    width: 100%;
    z-index: 1;
    // border-bottom: 1px solid $gray;
    .navbar {
        background: transparent linear-gradient(119deg, #B7FFBBC0 0%, #d8e9f4c0 100%) 0% 0% no-repeat padding-box;
        // opacity: 0.75;
        // D0D9FFC0 -- original gradient end value
        padding: 0;
    }
    .navbar-collapse {
        justify-content: space-between;
        height: $navHeight;
    }
    .navbar-userinfo {
        display: flex;
        img {
            margin: 0 20px;
            width: 50px;
            height: 50px;
            border-radius: 50%;
        }
        .navbar-username {
            font: normal normal bold 28px/40px Neuzeit Grotesk;
            letter-spacing: 0.19px;
            color: #363636;
            align-items: center;
            display: flex;
        }
    }
    .navbar-nav {
        position: absolute;
        // justify-content: center;
        // height: 100%;
        padding: 5px 0;
        // width: 100%;
        width: calc(100% - 470px);
        left: 470px;
        .nav-link {
            // height: $navHeight;
            font: normal normal 300 28px/40px Neuzeit Grotesk;
            letter-spacing: 0.19px;
            color: #363636;
            padding-left: 40px;
            padding-right: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            &.active {
                // background: #31AEED 0% 0% no-repeat padding-box;
                // color: #FFFFFF;
                font: normal normal bold 28px/40px Neuzeit Grotesk;
                letter-spacing: 0.19px;
                color: #363636;
                border: 2px solid #707070;
                border-radius: 25px;
            }
        }
    }
    .navbar-notification {
        margin-right: 20px;
        background: #FFFFFF 0% 0% no-repeat padding-box;
        box-shadow: 0px 10px 10px #00000029;
        font-size: 29px;
        width: 60px;
        height: 60px;
        text-align: center;
        border-radius: 50%;
        padding: 9px;
    }
    .navbar-action {
        button {
            margin:0 20px;
            font: normal normal bold 24px/34px Lato;
            background: #FFFFFF 0% 0% no-repeat padding-box;
            box-shadow: 0px 10px 10px #00000026;
            border: 1px solid #2580EC;
            border-radius: 10px;
            width: 200px;
            letter-spacing: 0.19px;
            color: #31AEED;
            &:hover {
                opacity: 0.9;
            }
        }
    }

    .navbar-mobile {
        .navbar-mobile-content {
            display: flex;
            justify-content: space-between;
            width: 100%;
        }
        img.user-avatar {
            width: 48px;
            height: 48px;
            border-radius: 50%;
            margin: 10px;
            box-shadow: 0px 2px 5px 3px #00000029;
        }
        .nav-mobile-title {
            font: normal normal bold 28px/34px Lato;
            letter-spacing: 0.19px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .btn-mobile-menu {
            border-radius: 50%;
            margin: 10px;
            background: white;
            box-shadow: 0px 2px 5px 3px #00000029;
            padding: 0;
            outline: none;
            span {
                font-size: 28px;
                margin: 10px;
                color: #363636;
            }
        }
        #navbar-toggle-collapse {
            border-bottom: 1px solid $blue;
        }
        .nav-item {
            .nav-link {
                font-size: 16px;
                height: 50px;
                width: 100%;
                border-top: 1px solid $blue;
            }
            &.active {
                background: #31AEED 0% 0% no-repeat padding-box;
                .nav-link {
                    color: #FFFFFF;
                }
            }
        }
    }

}